.page-header{
	background:#ffb3b3 ;
	border: 0px ;
	height: 60px;    
	position: ;
	text-align:  center;
	font-style:italic;
	border: 0.5px solid black;

}
p{
	font-family: URW Chancery L, cursive;
}
body{
	margin:0px;
}

.flex-container div{
	display: flex;
	
	background: #f1f1f1;
	 margin: 10px;
     padding: 5px;
     font-size: 15px;
}

.flex-container1{
	display: flex;
	flex-wrap: nowrap;
	background-color: grey;
}
.flex-container1 div{
	background-color: black;
	width: 100px;
	margin: 10px;
	text-align: center;
	align-content: space-between;

}
.flex-container{
	display:inline-flex;
	flex-wrap: wrap;
	align-content: space-between;
	background: black;
}
body{
	background-color:#ccccff;
}
.footer-dark {
  padding:40px 0;
  color:#f0f9ff;
  background-color:#282d32;
}
.footer-dark h3 {
  margin-top:1;
  margin-bottom:10px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:6;
  margin-right:40px;
  list-style:none;
  line-height:1.5;
  font-size:16px;
  margin-bottom:0;
}
.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;
  font-family: URW Chancery L, cursive;
}
.container{
	height: auto;
	wigth:20;
	overflow: hidden;
}
.container img{
	width: 100;
	display:block;
	transition:transform 2s;
}
.container:hover img{
	transform:scale(1.3)
}