body{
    background-color:pink;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    margin-top: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6));
    background-image: url(https://wisesofttech.com/wp-content/uploads/2021/12/1-3.jpg);
   
    background-size: cover;
    color: rgb(255, 255, 255);
}
.header{
    width: auto;
    height: 300px;
   
    z-index: -3;
    opacity: 1.0;
    
    color: aliceblue;
    padding: 0px 70px 0 70px;
    font-family: system-ui;
    font-size: 18px;
    text-align: center;
  
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.header .logo{
    width:10% ;
}
.header .logo img{
    width:100% ;
    border-radius: 50%;
}
.header h1 {
    text-align: center;
}
.header .nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .nav ul li{
     padding-left: 30px;
     list-style: none;

}
.header .nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;

}


 
 .body{
     padding:1em ;
     font-family: system-ui;

 }
 .flex-contents{
     width: auto;
     height: auto;
     background-image: url(https://st3.depositphotos.com/30182098/32180/v/450/depositphotos_321804978-stock-illustration-vector-abstract-upholstery-matte-black.jpg);
     display: flex;
     flex-wrap: nowrap;
     padding: 2em;
     justify-content: space-between;
     align-items: center;

 }
 .animation{
     width: 20%;
     height: 20%;
     background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
     padding: 2em;
     
 }
 .animation img{
     display: block;
     width: 100%;
     height: auto;

 }

 .photoshop{
    width: 20%;
    height:20%;
    background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
    padding: 2em;
    
}
.photoshop img{
    display: block;
    width: 100%;
    height: auto;

}
.videoediting{
    width: 20%;
    height:20%;
    background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
    padding: 2em;
    
}
.videoediting img{
    display: block;
    width: 100%;
    height: auto;

}
.introduction{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 2em;
    text-align: center;
    
}
.introduction h2{
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.discription{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 2em;
    text-align: center;
    
}
.discription h2{
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.slider{
    width: 430px;
    height: 500px;
    border-radius: 10px;
   overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
   
}
.sildes input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.creator{
    background-color: #151515;
    color: rgb(255, 255, 255);
    height: auto;
    
}
section{
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.container{
   display: flex;
   flex-direction: row;
}

.container img{
    max-width: 30%;
    display: block;
    padding: 1em;
    border-radius:50% ;
    

}
.block-wapper{
    padding: 2em;
    padding-top:1em ;
    text-align: right;
    align-content: right;
    font-size: 15px; 
}
.block-wapper img{
    margin-left: 10px;
    max-width: 150px;
}
.creater-bio-text{
    padding:6% ;
    
}
.creater-bio-text{
    padding: 40px;
    line-height: 20px;
    border-color: rgb(167,167,167/55%);
    font-size:20px ;
    text-align: center;
    align-content: center;
    border-left:1px solid ;
    font-weight: 200;
}
.header a:hover{
    background-color:black;
    

}
html{
    scroll-behavior: smooth;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 80vh;
    margin: auto;
    
}
.box h2{
    font-size: 6rem;
    font-weight: bold;
    color: white;
}
.box h2 span{
    opacity:0.5 ;
  
}
.box p{
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    padding-bottom:20px ;
    padding-top: 20px;
}
.box a{
    font-size: 1.2rem;
    font-weight: 300;
    color: #303030;
    background: #fff;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 50px;
    border:1px solid #fff;
    transition: all 0.3s;

}
.box a:hover{
    color: #fff;
    background: transparent;
    transition: all 0.3s;
}
.header .nav ul li a:hover{
    color: #303030;
    background: #fff;
    padding: 13px 30px;
    transition: all 0.2s;
   
    border-radius: 30px;
    border:1px solid #fff;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    max-width: 1170px;
    
    margin: auto;
}
ul{
    list-style: none;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size:16px;
    text-transform:capitalize ;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb ;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 255,255,0.2);
    margin:0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

 

  




  

    