body{
    background-color:pink;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    margin-top: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6));
    background-image: url(https://wisesofttech.com/wp-content/uploads/2021/12/1-3.jpg);
   
    background-size: cover;
    color: rgb(255, 255, 255);
}
#home h2{
    margin: auto;
    text-align: center;
    font-size: 13   0px;
    font-weight: 900;
    margin: 9vh;
    line-height: 160px;
    height: 100vh;

    top:20vh;
    right: 40vh;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
   
    background-position:0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 1500px 0;
    }
}
.content{
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}

.header{
    width: auto;
    height: 90px;
   
    z-index: -3;
    opacity: 1.0;
    
    color: aliceblue;
    padding: 0px 70px 0 70px;
    font-family: system-ui;
    font-size: 18px;
    text-align: center;
  
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.header .logo{
    width:10% ;
}
.header .logo img{
    width:100% ;
    border-radius: 50%;
}
.header h1 {
    text-align: center;
}
.header .nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .nav ul li{
     padding-left: 30px;
     list-style: none;
     

}
.header .nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;

}



 
 .body{
     padding:1em ;
     font-family: system-ui;

 }
 .flex-contents{
     
     width: auto;
     height: auto;
    
    
     display: flex;
     flex-wrap: nowrap;
     padding: 2em;
     justify-content: space-between;
     align-items: center;

 }
 #body{
     display: flex;
     justify-content: space-between;
    
     
 }
 /*
 .flex-contents #body{
     padding: 10px;
     display: flex;
     justify-content: space-between;
     
     
 }*/

  video{
     
     width: 100%;
     height: 100%;
     right: 0;
     left: 0;
     
     position: relative;
     opacity: 0.8;
     
     
     
 }
 .animation{
    
    position:sticky;
     width: 20%;
     height: 20%;
     background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
     padding: 2em;
     z-index:1000 ;
     background: black;
    
     
 }
 .animation img{
    
     display: block;
     width: 100%;
     height: auto;
     

 }

 .photoshop{
    position:sticky;
    width: 20%;
    height:20%;
    background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
    padding: 2em;
    z-index:100 ;
    background: black;
    z-index:1000 ;
    
}
.photoshop img{
    display: block;
    
    width: 100%;
    height: auto;
    

}
.videoediting{
    position:sticky;
    width: 20%;
    height:20%;
    background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-mauve.png);
    padding: 2em;
    z-index: index 1000; ;
    background: black;
    
}
.videoediting img{
   
    display: block;
    width: 100%;
    height: auto;
    z-index:100 ;

}
.introduction{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 2em;
    text-align: center;
    
}
.introduction h2{
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.discription{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 2em;
    text-align: center;
    
}
.discription h2{
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



.creator{
    background-color: black;
    color: rgb(255, 255, 255);
    height: auto;
   
}
section{
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.container{
   display: flex;
   flex-direction: row;
}

.container img{
    max-width: 30%;
    display: block;
    padding: 1em;
    border-radius:50% ;
    

}
.block-wapper{
    padding: 2em;
    padding-top:1em ;
    text-align: right;
    align-content: right;
    font-size: 15px; 
}
.block-wapper img{
    margin-left: 10px;
    max-width: 150px;
}
.creater-bio-text{
    padding:6% ;
    
}
.creater-bio-text{
    padding: 40px;
    line-height: 20px;
    border-color: rgb(167,167,167/55%);
    font-size:20px ;
    text-align: center;
    align-content: center;
    border-left:1px solid ;
    font-weight: 200;
}
.header a:hover{
    background-color:black;
    margin-bottom:10px ;
    

}
html{
    scroll-behavior: smooth;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: auto;
    margin: auto;
    
}
.box h2{
    font-size: 6rem;
    font-weight: bold;
    color: white;
    
}
.box h2 span{
    opacity:0.5 ;
  
}
.quote{
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    padding-bottom:20px ;
    padding-top: 20px;
}
.box a{
    font-size: 1.2rem;
    font-weight: 300;
    color: #303030;
    background: #fff;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 50px;
    border:1px solid #fff;
    transition: all 0.3s;
    animation-delay: 0.7s;

}
.box p{
    font-size:25px ;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-delay: 0.2s;
    margin-top: 130px;
}
.box a:hover{
    color: #fff;
    background: transparent;
    transition: all 0.3s;
}
.header .nav ul li   a:hover{
   /* color: #303030;
    background: #fff;*/
    padding: 13px 30px;
    transition: all 0.2s;
   
    border-radius: 30px;
  /*  border:1px solid #fff; */
    color: white;
    background: hsl(0, 1%, 19%);
    box-shadow:0 0 10px #000000,0 0 40px #000000, 0 0 80px #000000;
    transition-delay: 0.01s;




}
.footer{
    background-color: transparent;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    max-width: 1170px;
    
    margin: auto;
}
ul{
    list-style: none;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size:16px;
    text-transform:capitalize ;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb ;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 255,255,0.2);
    margin:0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.container2{
    width: 100%;
    height:100vh ;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width:90% ;
    max-width:600px ;
    border-radius:10px ;
}
.form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}
.form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}
.form button{
    padding:15px;
    background: #ff5361;
    color:#fff;
    font-size:18px;
    border:0;
    outline:none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;


}
/*.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow:0 5px 35px rgba(0,0,0,0.15) ;
}

/*.box1{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
    padding: 30px;
    background-color: #000000;
}*/
.form{
    align-content: center;
    margin-left:30% ;
    
}
.contact info{
    background:white;
}

.contact h3{
    color:white;
    font-weight: 800;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.row50{
    color: black;
}
.row100{
    color: black;
}
.contact form{
    align-content: center;
}
.formBox{
    position: relative;
    width: 100%;

}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    
    
    width: 100%;
    margin-bottom: 10px;

}
.formbox .row100 .inputBox{
    width: 100%;
}
  .inputBox span
  {
      color: white;
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: 500;
  }
  .inputBox input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox  textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    max-width: 500px;
    margin-bottom: 10px;
    width: 100%;

}
.inputBox input[type="submit"]
{
    background: #ff578b;
    align-content: center;
    
    border: none;
    font-size: 1.1em;
    border-radius: 20px;
    
    font-weight: 500;
    padding:  14px 15px;
}
.row100 {
   text-align: center;
  
}
.contactus{
    padding: 20px;
    margin: 0px;
    display: grid;
}

.infoBox span{
    background-color:rgb(151, 225, 243) ; 
    color:white;
    width: 1px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}
.infoBox a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
.title{
    text-align: center;
}
.infoBox div{
    padding: 10px;
    
}

.contact info h3{
    color: white;
}
/*.contactus{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
    align-content: center;
    align-items: center;
    background-color:transparent;
    text-align : center;
}*/ 
/*.contact form{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}*/
.one{
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin-left:10% ;
    margin-right: 10%;

}
.contact .infoBox{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.contact .map{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-radius: 30px;
}
.contactus{
    grid-gap:60px ;
}
img {
    vertical-align: middle;
  }
  
 
  .containerx {
    position: relative;
    padding: 20px;
    
  }

  .frame{
      justify-content: center;
      margin-left: 20%;
      margin-right: 20%;
      text-align: center;
  }
  

  .mySlides {
    display: none;
  }
  
  
  .cursor {
    cursor: pointer;
  }
  
  
  .prev,
  .next {
    cursor: pointer;
    
    top: 30%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .navigation{
      padding: 15px;
  }
  
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .caption-containerx {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
 
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 35px;
  }
  
  p {
    text-align: center;
    margin: 15px auto 0px auto;
    font-size: 25px;
    width: 80%;
  }
  #body p{
      font-size: 16px;
  }
  .infoBox p{
      font-size: 16px;
      
  }
  .contact-form {
    margin: 35px auto 0px auto;
    width: 80%;
  }
  
  .contact-form label {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .contact-form input {
    padding: 12px 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    background: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact-form input:focus {
    border-bottom: 2px solid #1a883f;
  }
  
  .contact-form textarea {
    padding: 12px 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    background: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    font-family: inter;
    font-weight: normal;
  }
  
  .contact-form textarea:focus {
    border-bottom: 2px solid #1a883f;
  }
  
  .contact-form button {
    font-size: 19px;
    width: 100%;
    margin-top: 25px;
    border: none;
    padding: 12px 20px;
    background-color: #22b352;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-bottom: 3px solid #1a883f;
  }
  
  .contact-form button:hover {
    background-color: #1a883f;
    border-bottom: 3px solid #22b352;
  }
  
  @media all and (min-width: 1000px) {
    .contact-form {
      width: 40%;
    }
  }
  
  @media all and (min-width: 1080px) {
    .contact-form {
      width: 30%;
    }
  }
  .anim{
      opacity: 0;
      transform: translate(60px);
      animation: moveup 0.5s linear forwards;
  }
  @keyframes moveup {
      100%{
          opacity: 1;
          transform: translate(0px);
      }
      
  }

  

    